---
FormatStyle: 'file'

Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -llvm*,
        -zircon-*,
        google-*,
        -modernize-use-trailing-return-type,
        -*-pro-type-reinterpret-cast,
        -*-deprecated-headers,
        -*-avoid-c-arrays,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -hicpp-no-array-decay
"
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*[/\\]_deps[/\\]?.*'

CheckOptions:
  readability-function-cognitive-complexity.Threshold: 50
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.MinimumParameterNameLength: 2
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.GlobalVariableCase: lower_case
  readability-identifier-naming.GlobalVariablePrefix: 'g_'
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MemberSuffix: '_'
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: 'k'
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticConstantPrefix: 'k'
  readability-identifier-naming.StaticVariableCase: lower_case
  readability-identifier-naming.StaticVariablePrefix: 's_'
  readability-identifier-naming.StaticVariableSuffix: '_'
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.EnumConstantPrefix: ''
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: 'k'
  readability-identifier-naming.MacroCase: UPPER_CASE
  readability-identifier-naming.FileCase: lower_case
  readability-identifier-naming.TemplateParameterCase: CamelCase
